.recipe-container {
    width: 70vw;
    height: 90vh;
    margin: 20px auto;
  }
  
  .recipe {
    display: flex;
    height: 20vh;
    justify-content: space-between;
    border: 1px solid lightblue;
    padding: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .description {
    font-size: 22px;
  }

.user-links{
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

.user-links a {
  margin: 10px 5px;
  color: blueviolet;
  text-decoration: none;
  font-size: 18px;
}